@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");


body {
  background-color: #300a66;
  font-family: "Montserrat", sans-serif;
}

body::before {
  content: "";
  background-image: url(../img/ai.png);
  background-position: 100px 200px;
  background-repeat: no-repeat;
  background-size: 50vmax;
  margin-left: -10em;
  opacity: 0.8;
  position:static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.custom-nav img {
  width: 150px;
  height: 150px;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #80b4ff;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 1em;
  transition: 0.5s color ease;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #e6f0ff;
}
.custom-nav #navbarNav .navbar-nav .nav-item .sign-up-button {
  background-color: #80b4ff;
  color: #ffffff;
  border-radius: 2em;
  border: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media screen and (max-width: 992px) {
  .custom-nav {
    margin-top: 1em;
  }
}
@media screen and (max-width: 600px) {
  .custom-nav {
    margin-top: -1em;
  }
}

.judul {
  font-size: 2rem;
  color: #4e73df;
  margin-top: 1rem;
}

.custom-section {
  margin-top: 10em;
}
.custom-section h2 {
  margin-left: 17.5em;
  font-weight: 700;
  font-size: 2.2rem;
  color: #80b4ff;
  white-space: nowrap;
  line-height: 1;
}
.custom-section h3 {
  margin-left: 20em;
  font-weight: 500;
  font-size: 2rem;
  color: pink;
  white-space: nowrap;
  line-height: 1;
}
.custom-section p {
  padding-left: 40rem;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 2em;
  white-space: normal;
}
.custom-section a {
  margin-top: 1em;
  display: inline-block;
  background-color: #80b4ff;
  color: #ffffff;
  margin-left: 40em;
  padding: 1em 2em;
  border-radius: 2em;
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.custom-section a:hover {
  color: #e6f0ff;
}
.custom-section a:hover {
  color: #80b4ff;
  border: 1px solid #80b4ff;
  background-color: transparent;
}
@media screen and (max-width: 992px) {
  .custom-section {
    margin-top: 3em;
    text-align: center;
  }
  .custom-section h2,
  .custom-section h3,
  .custom-section p {
    text-shadow: 1px 1px rgba(200, 172, 172, 0.4);
  }
  .custom-section h3 {
    color: white;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px;
  align-items: center;
  grid-gap: 4rem;
  color: #ffffff;
}

img {
  height: 300px;
  width: 100%;
}

h2 {
  font-size: 20px;
  color: #4e73df;
  margin-top: 1rem;
  text-align: start;
  padding-left: 1.5rem;
}

p {
  margin-top: 2em;
}

.grid > article {
  box-shadow: 10px 5px 5px 0px #80b4ff;
  border-radius: 20px;
  text-align: center;
  background: #9f9cff;
  transition: transform;
  height: 22rem;
}

.grid > article > a {
  text-decoration: none;
  color: #ffffff;
}

.grid > article img {
  width: 100%;
  height: 150px;
  border-radius: 4px;
}

.grid > article:hover {
  transform: rotate(15deg);
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
* {
  box-sizing: border-box;
}

.grid > .column > img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
  padding: 10px;
  height: 300px;
  align-items: center;
  border-radius: 4rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer */

footer {
  position: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background: #80b4ff;
  height: auto;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  color: #fff;
}
.img{
  width: 150px;
  height: 150px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}
.social li {
  margin: 0 10px;
}
.social a {
  text-decoration: none;
  color: #fff;
}
.social a i {
  font-size: 3.1rem;
  margin-right: 20px;
  transition: color 0.4s ease;
}
.social a:hover i {
  color: #300a66;
}

.footer-bottom {
  background: #9f9cff;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
